@{
    <div id="productsContainer"></div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function handleCheckboxChange(event) {
        const selectedCategories = Array.from(document.querySelectorAll('input[type="checkbox"]:checked'))
            .map(checkbox => checkbox.value);

        console.log('Selected categories:', selectedCategories);

        $.ajax({
            url: `/api/products/${selectedCategories.join(',')}`,
            method: 'GET',
            success: function (data) {
                $('#productsContainer').html(data);
            },
            error: function (xhr, status, error) {
                console.error('Error fetching products:', error);
            }
        });
    }

    // Attach event listener to checkboxes
    $(document).ready(function () {
        $('input[type="checkbox"]').on('change', handleCheckboxChange);
    });
</script>
