<div class="flex flex-col p-4 pt-0 w-72 text-end justify-end">
    <h2 class="font-extrabold mb-4">Filter by<br>Programming Language</h2>
    <ul class="space-y-2">
        <li>
            <label class="flex items-center w-full justify-end">
                <span class="mr-2">C#</span>
                <input type="checkbox" class="form-checkbox" />
            </label>
            <label class="flex items-center w-full justify-end">
                <span class="mr-2">Java</span>
                <input type="checkbox" class="form-checkbox" />
            </label>
            <label class="flex items-center w-full justify-end">
                <span class="mr-2">JavaScript</span>
                <input type="checkbox" class="form-checkbox" />
            </label>
        </li>
    </ul>
</div>