<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/favicon.ico" />
    <title>@ViewData["Title"] - Micro MVC ECommerce</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="flex flex-col h-screen m-0">
    <header>
        <nav class="border-b h-fit py-4 flex justify-start align-middle mb-4">
            <div class="mx-72 flex gap-2">
                <i class="material-icons">
                    dashboard
                </i>
                <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                    Micro MVC ECommerce
                </a>
            </div>
        </nav>
    </header>

    <div class="">
        <main role="main" class="flex flex-row">
            <div class="">
                @Html.Partial("_FilterSideBar")
            </div>
            <div class="">
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="border-t mt-auto">
        <div class="mx-72 py-4">
            &copy; Berkay Aslan - <a href="https://github.com/KahlerYasla?tab=repositories">GitHub</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
